html {
  padding: 0;
  margin: 0;
}
body  {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;  
}
.container {  
  margin: 0px auto;  
  padding: 0 15px;
 
}
.header {
  display: flex;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 150px 0 150px;
}
.header__offer {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}  
.header__container { 
  background: url('../img/BGHeader.png');
  background-size: cover;
  /*background-position: center center;*/
  background-repeat: no-repeat;
  max-height: 100%;  
  
}
h1 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;  
  letter-spacing: 5px;
  position: relative;
  padding-bottom: 45px;
}
h1 span {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}
h1:after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 105px;
  background-color: #fff;
  bottom: 0;
  margin: 0px 0px 0px -52.5px;
  left: 50%;
 }

.header__button {
  align-items: center;
  text-align: center;
  padding-bottom: 90px; 
}
.header_btn {
  margin-bottom: 75px;
}
.btn {
  width: 182px;
  height: 47px;
  padding: 13px 44px; 
  font-weight: 400;
  font-size: 16px;  
  text-decoration: none;  
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

}
.arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 85px;
}
.about_menu {
  border-bottom: 1px solid #f2f2f2;
}
.container {
}
.menu {  
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu_items {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.item_act {
  color: #ada074;
}
.about_title {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 70px;
}
.title {
  position: relative;
  font-size: 34px;
  font-weight: 700;
  color: #000;
  text-align: center;
  letter-spacing: 4px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.about_tit:after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 82px;
  color: #f3f3f3;
  background-color: #000;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  left: 50%;
 }
.subtitle {
  font-size: 15px;
  font-weight: 300;
  color: #868585;
  text-align: center;
  line-height: 25px;
}
.about_card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
}
.about_icon {  
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.card {


}
.about_tit2 {
  font-size: 22px;
  font-weight: 400;  
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.sub {
}

.portfolio {
  background-color: #f3f3f3;
}
.container {
}
.portfolio_title {
  padding-top: 100px;
}
.portfolio_tit:after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 82px;
  color: #f3f3f3;
  background-color: #000;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  left: 50%;
 }
.title {
}
.portfolio_menu {
  padding-bottom: 140px;
}
.menu {
}
.menu_items {
}

.gallery {

}
.portfolio_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0px 15px 30px;
}
.gallery {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.portfolio__button {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 20px;
}
.portfolio_btn {
  color: #000;
  border: 1px solid #000;
}
.btn {
}

.partners {
  background: url('../img/BG22.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 100%;   
}
.container {
}
.partners_title {
  padding-top: 100px;
  padding-bottom: 90px;
}
h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;  
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
.partners_icon {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 100px;
}
.contact {
  padding-bottom: 100px;
}
.container {
}
.contact_title {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact_tit:after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 82px;
  color: #f3f3f3;
  background-color: #000;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  left: 50%;
 }
.title {
}
.contact_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 50%;
  justify-content: center;
  gap: 80px;
}
.contact_form {
  margin-left: -187px;
  /*display: flex;*/
 
}
.left_top {
  display: flex;
  gap: 53px;  
  padding-bottom: 70px;
}
.form_name {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input {
  width: 162px;
  height: 35px;
  border-top: 1px solid #000;
  background-color: #f8f7f7;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

}
.inp_text {
  width: 385px;
  height: 115px;
}
.inp_sub {
  width: 50px;
  height: 20px;
  border-top: transparent;
  background-color: #fff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.mail {
}
.message {
  padding-bottom: 35px;

}
.send {
  float: right;
}
.contact_right {
  /*padding: 0px 10px;
  margin: 0px 10px*/;
}
.contact_sub {
  color: #000;
  text-align: left;
  padding-bottom: 30px;
}
.contact_text {
  font-weight: 800;
  font-size: 14px;
}
.contact_text span {
  font-weight: 300;
  font-size: 14px;
}
.subtitle {
}
.contact_icon {
  padding-top: 15px;

}

footer {
  background-color: #3c3c3c; 
}
.footer {
  

}
.footer_logo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer_menu {
  padding-bottom: 35px;
}
.menu {
  gap: 20px;
}
.footer_items {
  font-size: 14px;
  font-weight: 400;
  color: #a4a4a4;
  text-decoration: none;
}
.footer_text {
  text-align: center;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 50px;
  margin: 0;
}

